<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{template/fragments/layoutFragment :: head}"/>
    <link th:href="@{/css/basic-form.css}" rel="stylesheet">
</head>
<div th:insert="~{template/fragments/loginFragment::logoHeader}"></div>
<div class="container">
    <div class="text-center">
        <h2 th:text="#{title.member.join}">회원가입</h2>
    </div>
    <form th:action th:object="${memberCreateForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <label for="loginId" th:text="#{label.login.id}">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>
        <div>
            <label for="password" th:text="#{label.login.password}">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="name" th:text="#{label.member.name}">이름</label>
            <input type="text" id="name" th:field="*{name}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"></div>
        </div>
        <div>
            <label for="phone" th:text="#{label.member.phone}">전화번호</label>
            <input type="text" id="phone" th:field="*{phone}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{phone}"></div>
        </div>
        <div>
            <label for="birth" th:text="#{label.member.birth}">생년월일</label>
            <input type="text" id="birth" th:field="*{birth}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{birth}"></div>
        </div>
        <div>
            <label for="email" th:text="#{label.member.email}">이메일</label>
            <input type="text" id="email" th:field="*{email}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{email}"></div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.member.join}">가입
                    완료
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button" th:text="#{button.cancel}">취소
                </button>
            </div>
        </div>
    </form>
</div>
</html>