<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="mobileMenu" id="mobileMenu"
  class="fixed right-0 inset-y-0 w-64 dark:bg-gray-800 bg-white shadow-lg translate-x-full hidden lg:hidden z-20">
  <button id="closeMenu" class="p-2 m-4 text-gray-700 dark:text-white">
    <i class="fas fa-times text-2xl"></i>
  </button>
  <nav class="flex flex-col space-y-6 px-6 pb-6 overflow-y-auto max-h-full">
    <!-- 메인 -->
    <div>
      <a th:href="@{/}" href="/home" class="hover:text-blue-500 transition-colors block py-2">메인</a>
    </div>

    <!-- 동적으로 카테고리와 게시판 목록 생성 -->
    <div th:each="category : ${boardCategories}">
      <a th:href="@{'/community/categories/' + ${category.id}}" th:text="${category.name}"
        class="hover:text-blue-500 transition-colors block py-2 font-medium"></a>
      <div class="ml-4 mt-2 space-y-2">
        <a th:each="board : ${category.boards}" th:href="@{'/community/boards/' + ${board.id}}" th:text="${board.name}"
          class="hover:text-blue-500 transition-colors block py-1 text-sm"></a>
      </div>
    </div>

    <!-- 로그인/로그아웃 (default hidden) & 다크모드 토글 -->
    <div class="border-t border-gray-300 dark:border-gray-600 pt-4">
      <a th:href="@{/login}" href="/login" th:if="${member == null}"
        class="hover:text-blue-500 transition-colors block py-2" id="mobileLoginBtn">
        <i class="fas fa-sign-in-alt mr-2"></i>
        로그인
      </a>
      <a th:href="@{/logout}" href="/logout" th:if="${member != null}"
        class="hover:text-blue-500 transition-colors block py-2" id="mobileLogoutBtn">
        <i class="fas fa-sign-out-alt mr-2"></i>
        로그아웃
      </a>
      <a href="/profile" th:if="${member != null}" class="hover:text-blue-500 transition-colors block py-2"
        id="mobileProfileBtn">
        <i class="fa fa-user mr-2"></i>
        프로필
      </a>
      <button id="darkModeToggleMobile"
        class="p-2 w-full rounded-full bg-gray-200 dark:bg-gray-700 focus:ring focus:ring-blue-500 mt-4">
        <i class="fas fa-moon text-gray-700"></i>
      </button>
    </div>
  </nav>
</aside>

</html>