<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<aside th:fragment="mobileMenu" id="mobileMenu"
  class="fixed right-0 inset-y-0 w-64 dark:bg-gray-800 bg-white shadow-lg translate-x-full transition-transform duration-300 z-20">
  <button id="closeMenu" class="p-2 m-4 text-gray-700 dark:text-white">
    <i class="fas fa-times text-2xl"></i>
  </button>
  <nav class="flex flex-col space-y-4 px-6">
    <!-- 메인 -->
    <div>
      <a th:href="@{/}" href="/home" class="hover:text-blue-500 transition-colors block">메인</a>
    </div>

    <!-- 동적으로 카테고리와 게시판 목록 생성 -->
    <div th:each="category : ${boardCategories}">
      <a th:href="@{'/community/' + ${category.name.toLowerCase()}}"
        th:text="${#messages.msg('board.category.' + category.name)}"
        class="hover:text-blue-500 transition-colors block"></a>
      <div class="ml-4">
        <a th:each="board : ${category.boards}"
          th:href="@{'/community/' + ${category.name.toLowerCase()} + '/' + ${board.name.toLowerCase()}}"
          th:text="${#messages.msg('board.' + board.name)}" class="hover:text-blue-500 transition-colors block"></a>
      </div>
    </div>

    <!-- 로그인/로그아웃 (default hidden) & 다크모드 토글 -->
    <a th:href="@{/login}" href="/login" th:if="${member == null}" class="hover:text-blue-500 transition-colors block"
      id="mobileLoginBtn">
      <i class="fas fa-sign-in-alt"></i>
      로그인</a>
    <a th:href="@{/logout}" href="/logout" th:if="${member != null}" class="hover:text-blue-500 transition-colors block"
      id="mobileLogoutBtn">
      <i class="fas fa-sign-out-alt"></i>
      로그아웃</a>
    <a href="/profile" th:if="${member != null}" class="hover:text-blue-500 transition-colors block"
      id="mobileProfileBtn">
      <i class="fa fa-user"></i>
      프로필</a>
    <button id="darkModeToggleMobile"
      class="p-2 w-full rounded-full bg-gray-200 dark:bg-gray-700 focus:ring focus:ring-blue-500">
      <i class="fas fa-moon text-gray-700"></i>
    </button>
  </nav>
</aside>

</html>